* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    color: #fffffa;
}
a:hover, a:active {
    background-color: #912F40;
  }
.home {
    background:linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
    position: relative;
    text-align: center;
    font-size: 25px;
}
.main {
    min-height: 100vh;
    width: 100%;
   background-image: linear-gradient(rgba(141,28,49,0.7),rgba(141,28,49,0.7)),url(assets/img/alabama.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
footer {
    padding: 40px 40px 20px;
    position: absolute;
    bottom: 0;
    width:100%;
    display: block;
}
#footer-background {
    background-image: url(assets/img/clearlogo.png);
    background-size:10%;
    height: 8rem;
    background-color: #000000;
}
.about {
    color: #080705;
    font-weight: bolder;
    background: #fffffa;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 20px;
}
#bio {
    margin: 1rem;
    margin-right: 3rem;
  }
#bio > img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
#form {
    width: 50%;
    border: solid 5px black;
    display: block;
    justify-content: center;
    background: #912F40;
    font-size: 25px;
    margin: 5% 25%;
  }
  #weather {
    font-size: 20px;
    float: inherit;
    /* position: relative; */
    width: 50%;
    color: #000000;
    border: solid 5px #912F40;
    /* display: block; */
    margin: 15% 25%;
    text-align: center;
    background: linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
}
  .formText{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px;
   }
nav {
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
nav > a {
    background-color: black;
    text-align: center;
    width: 100px;
    display:block;
    padding: 20px 15px;
}
nav > ul {
    padding: 0;
    margin: 0 0 0 0px;
    list-style: none;
}
nav > li {
    float:left;
}
.text-box {
    font-size: 40px;
    width: auto;
    color: #000000;
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
}
#text-box-1 {
    border:#000000;
    border-style: dashed;
    color: #000000;
    text-align: center;
    display:flex;
    width: 40%;
    font-size: 20px;
    padding: 50px;
    margin: 10px 30px;
    background: linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
}
#text-box-2 {
    font-size: 20px;
    border: #080705;
    border-style: dotted;
    color: #000000;
    text-align: center;
    display: flex;
    width: 40%;
    padding: 50px;
    margin: 30px 80px;
    background: linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
}

#testButton {
    text-decoration: none;
    color: #fffffa;
    border: 3px solid #080705;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    width:200px;
    margin: 10vh 80vh;
    cursor: pointer;
    text-align: center;
    float: right;
    font-size: 25px;
}
#testButton:hover {
    border: 3px solid #912F40;
    background: #912F40;
    transition: 1s;
}
.football {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    height: auto;
    width: 75%;
    margin: 5% 15%;
    text-align: center;
  }

  .football > tbody {
    width: 90%;
    background: #fffffa;
  }

  .football > td,th {
    width: 25%;
  }
@media(max-width: 550px){
    *{
        color: aquamarine;
    }
        nav {
        display: flex;
        justify-content: space-evenly;
        width:100%;
    }
    nav > a {
        display: flex;
        justify-content: space-evenly;
    }
    .main {
        background-image: none;
        background-color: #912F40;
        width: auto;
    }
    #footer-background{
        background-image: none;
        background-color: #000000;
    }
    #testButton {
        position: relative;
    }
    #weather {
    }
    }
