* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
nav > a {
    background-color: black;
    text-align: center;
    width: 100px;
    display:block;
    padding: 20px 15px;
}
a {
    text-decoration: none;
    color: #fffffa;
}
a:hover, a:active {
    background-color: #912F40;
  }
.home {
    background:linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
    position: relative;
    text-align: center;
}
.main {
    min-height: 100vh;
    width: 100%;
   background-image: linear-gradient(rgba(141,28,49,0.7),rgba(141,28,49,0.7)),url(assets/img/alabama.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#main-border{
    margin-bottom: auto;
}

footer {
    padding: 2rem 2rem 4rem;
}
#footer-background {
    background-image: url(assets/img/clearlogo.png);
    background-size:contain;
    height: 4.5em;
    width:auto;
    background-color: #000000;
}

.about {
    color: #080705;
    font-weight: bolder;
    background: #fffffa;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-bottom: 5%;
}
#bio {
    margin: 1rem;
    margin-right: 3rem;
  }
#bio > img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
#form {
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    background: #912F40;
  }
nav {
    width: 100%;
    background: black;
    /* overflow: auto; */
    /* display: flex; */
    /* padding: 2% 6%; */
    /* justify-content: space-evenly; */
    /* align-items:baseline; */
    /* list-style-type: none; */
    /* height: 10px; */
}
nav > img {
    width: 10%;
    height: 10%;
    object-fit: contain;
    /* display: flex; */
    /* justify-content: flex-start; */
}
nav > ul {
    padding: 0;
    margin: 0 0 0 0px;
    list-style: none;
}
nav > li {
    float:left;
}
/* .nav-links {
    flex: 1;
    text-align: right;
} */
/* .nav-links  ul  li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
} */
/* .nav-links ul li  a {
    color: #fffffa;
    text-decoration: none;
    font-size: 14px;
} */
/* .nav-links  ul  li::after {
    content: '';
    width: 0%;
    height: 4px;
    display: block;
    margin: auto;
    background: #080705;
    transition: 0.5s;
} */
/* .nav-links  ul  li:hover::after {
    width: 100%;
} */
.text-box {
    width: auto;
    color: #000000;
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(255,255,250,0.7),rgba(255,255,250,0.7));
}
.text-box p {
    font-size: 14px;
    color: #fffffa;
}
.testButton {
    display: inline-block;
    text-decoration: none;
    color: #fffffa;
    border: 3px solid #080705;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position:relative;
    width:200px;
    cursor: pointer;
    display:flex;
    justify-content: center;
}
.testButton:hover {
    border: 3px solid #912F40;
    background: #912F40;
    transition: .5s;
}
nav .fa-bars {
    display:none;
}
#football {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    height: auto;
    width: 75%;
    margin: auto;
  }

  #football tbody {
    width: 90%;
    background: #fffffa;
  }

  #football th {
    text-align: left;
  }

  #football td,th {
    width: 25%;
  }
@media(min-width: 550px){
     .hidden--mobil {
        display: none !important;
     }
    nav {
        /* display: flex; */
        /* align-items: center; */
        /* flex-direction: row; */
        width: 100%;

    }
     /* .nav-links {
         position: absolute;
         background: #912F40;
         height: 100vh;
         width: 200px;
         top: 0;
         right: 0;
         text-align: left;
         z-index: 2;
     } */
     /* .nav-links fa {
         display: block;
         color: pink;
         font-size: 10px;
         cursor: pointer;
     } */
    }
